
.bg-cover {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

img {
    width: 100%;
}



body {
    color: blue;
  }
  
  h1 {
    color: rgb(12, 46, 12);
  }

 
  h1 {
    text-align: center;
    text-transform: uppercase;
    color: #260391;
  }
  

 

.img_nav img{
    width: 350px;
}
  
